form {
  margin: 2em;
  padding: 2em;
  background-color: rgb(250, 250, 250);
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
}

textarea {
  height: 6rem;
  width: 100%;
  margin-bottom: 1.5rem;
  resize: none;
  font-size: 16px;
}

form > button {
  background-color: rgb(237, 242, 247);
  height: 2rem;
  width: 6rem;
  border-color: transparent;
  border-radius: 0.4rem;
  font-weight: bold;
  cursor: pointer;
}

.summary-container {
  margin: 2em;
  padding: 2em;
  background-color: rgb(250, 250, 250);
  border-radius: 12px;
}

.section-container {
  display: flex;
  margin: 2em;
  gap: 4em;
}

.section-container > * {
  flex: 1;
}

.sub-section-container {
  padding: 2em;
  border-radius: 12px;
  background-color: rgb(250, 250, 250);
  border-radius: 12px;
}
