image {
  object-fit: cover;
}

.media {
  width: 400px;
  height: 250px;
}

.container {
  display: flex;
  gap: 2em;
  margin: 2em;
}

.container > aside {
  display: flex;
  align-items: center;
  padding: 2em;
  background-color: rgb(250, 250, 250);
  border-radius: 12px;
}

.container > article {
  height: fit-content;
  padding: 2em;
  background-color: rgb(250, 250, 250);
  border-radius: 12px;
}
